html {
	font-size: 1em;
}

body {
	color: #333;
	font-family: 'Baskervville', monospace;
	font-weight: 400;
}

 h1 {
	display: flex;
	justify-content: center;
	font-family: 'Fredoka One';
	color: rgba(158, 93, 219, 0.502);
	text-shadow: 0 0 5px;
	font-size: 80px;
} 

h3 {
	font-size: small;
}

.image {
	display: flex;
	justify-content: center; 
	margin-top: 2%;
	margin-bottom: 2%;
}

img {
    width: 300px;
    height: 300px;
}

#pic {
	display: none;
}

.container {
	margin-top: 15vh;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: fit-content;
}

 .namesContainer {
	display: flex;
	flex-direction: column;
	justify-content: center; 
	display: none;
}

.btn {
	border-radius: 0;
	color: white;
	background-color: rgba(45, 45, 45, 0.518);
}

.btn:hover {
	background-color: rgba(57, 57, 57, 0.487);
	transition: background-color 0.3s ease;
}

#next {
	display: none;
	color: rgb(171, 121, 217);
	border-color: blueviolet;
}

#correctPicResult {
	width: 100px;
	height: 100px;
}

#wrongPicResult {
	width: 100px;
	height: 100px;
	filter: blur(5px);
	
	
}

#progress-bar {
	width: 100%; 
	height: 20px; 
	background-color: rgba(221, 221, 221, 0.037); 
	border-radius: 5px; 
	display: none;
  }
  #progress {
	width: 0%; 
	height: 100%;
	background-color: rgba(137, 43, 226, 0.538); 
	border-radius: 5px; 
  }

@media (max-width: 400px) {
	img {
		width: 300px;
		height: 300px;
	}
	button {
		margin: 2%;
	}
	.container {
		margin-top: 10vh;
	}
}

	@media (min-width: 800px) {
		img {
			width: 300px;
			height: 300px;
		}
		button {
			margin: 5%;
		}
	}
	@media (min-width: 1000px) {
		img {
			width: 300px;
			height: 300px;
		}
		button {
			margin: 6%;
			font-size: large;
		}
		.container {
			margin-top: 10vh;
		}
	}

	@media (min-width: 1500px) {
		img {
			width: 350px;
			height: 350px;
		}
		button {
			margin: 4%;
			font-size: large;
		}
		.container {
			margin-top: 0vh;
		}
	}